<h1>Import CSV</h1>

<%= form_with url: import_csv_path, method: :post, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :file, "Choisir un fichier" %><br>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit "Importer" %>
  </div>
<% end %>
